#Build products
stockwell.egg-info/
dist/
build/
wheels/
RELEASE-VERSION
*.so
*.pyd

# python bytecode
*.pyc

# temporary files
*.swp

# other unnecessary files
.directory
.DS_Store

# IDE
.vscode

# FFTW3 files
fftw3/
fftw-3.*/
fftw-3.*.tar.gz